
@media only screen and (min-width: 365px) {
  .admin-login {
    position: absolute;
    top: 10rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    width: 80vw; 
  }

  .admin-login_link {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
  }
  .admin-login div {
    margin-bottom: 20px;
  }

  .admin-login p {
    margin: 0;
    color: #079990;
    margin-top: 8px;
  }

  
}

@media only screen and (max-width: 360px) {
  .admin-login {
    position: absolute;
    top: 10rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    width: 80vw; 
  }

  .admin-login_link {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
  }
  .admin-login div {
    margin-bottom: 20px;
  }

  .admin-login p {
    margin: 0;
    color: #079990;
    margin-top: 8px;
  }
  
}

@media only screen and (max-width: 320px) {
  .admin-login {
    position: absolute;
    top: 10rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    width: 80vw; 
  }

  .admin-login_link {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
  }
  .admin-login div {
    margin-bottom: 20px;
  }

  .admin-login p {
    margin: 0;
    color: #079990;
    margin-top: 8px;
  }
  
}

@media only screen and (min-width: 411px) {
  .admin-login {
    position: absolute;
    top: 10rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    width: 80vw; 
  }

  .admin-login_link {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
  }
  .admin-login div {
    margin-bottom: 20px;
  }

  .admin-login p {
    margin: 0;
    color: #079990;
    margin-top: 8px;
  }

  
}
