
@media only screen and (min-width: 365px) {
  .business-details {
    margin: 10px 10px;
  }

  .business-details_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media only screen and (max-width: 360px) {
  .business-details {
    margin: 10px 10px;
  }

  .business-details_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) {
  
}

@media only screen and (min-width: 411px) {

  .business-details {
    margin: 10px 10px;
  }

  .business-details_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
