
.kasuwa-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.kasuwa-title {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.kasuwa-title a {
  margin-left: auto;
}

.kasuwa-reg h3 {
  color: #079992;
  font-weight: 100;
  margin-left: 5px;
}

.kasuwa-reg form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.8px solid #079992; */
  padding: 20px;

   -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc; 
}

.kasuwa-reg form input {
  margin: 5px;
}

.kasuwa-reg form button {
  width: 10rem;
  text-align: center;
  margin: 4px;
}

.kasuwa-img {
  width: 100%;
}

.kasuwa-img img {
  width: 60%;
}